* { 
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
}

div.heroSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

div.heroSection nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    top: 10px;
}

div.heroSection img {
    /* position: absolute;
    z-index: -1; */
    /* height: 62vh; */
    width: 100%;
    object-fit: contain;
}

div.heroSection nav span.navbarLogoContainer {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 3vw;
}

div.heroSection nav span.navbarLogoContainer h2 {
    position: relative;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: "Kantumruy Pro", "sans-serif";
    margin: 0px 0px 0px 0px;
}

div.heroSection nav ul.navUl {
    display: flex;
    justify-content: space-around;
    width: 46%;
    padding: 0px 0px 0px 0px;
    /* margin: 0px 3vw 0px 0px; */
}

div.heroSection nav ul.navUl hr {
    display: none;
}

div.heroSection nav ul.navUl li {
    display: flex;
    align-items: center;
    list-style-type: none;
}

div.heroSection nav ul.navUl li a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Kantumruy Pro", "sans-serif";
    font-weight: bold;
}

div.heroSection nav ul.navUl hr.hrSecondToLast {
    display: none;
}

div.heroSection nav ul.navUl li.getStartedLinkListItem {
    display: none;
}

div.heroSection button.hamburgerMenu {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 42px;
    align-self: center;
    margin: 0px 3.6vw 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    /* border: none; */
}

div.heroSection nav button.hamburgerMenu span {
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 42%;
    background-color: #ffffff;
}

div.heroSection nav button.hamburgerMenu span.hamburgerMenuBarOne {
    margin: 0px 0px 3.4px 0px;
}

div.heroSection nav button.hamburgerMenu span.hamburgerMenuBarOneShow {
    position: absolute;
    margin: 0px 0px 0px 0px;
    transform: rotate(45deg);
}

div.heroSection nav button.hamburgerMenu span.hamburgerMenuBarTwo {
    margin: 3.4px 0px 0px 0px;
}

div.heroSection nav button.hamburgerMenu span.hamburgerMenuBarTwoShow {
    position: absolute;
    margin: 0px 0px 0px 0px;
    transform: rotate(135deg);
}

div.heroSection nav a.getStartedLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 176px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Kantumruy Pro", sans-serif;
    font-weight: bold;
    border: 2px solid #ffffff;
    border-radius: 12px;
    margin: 0px 3vw 0px 0px;
}

div.heroSection h2.heroSectionh2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Kameron", "serif";
    position: absolute;
    color: #ffffff;
    top: 32%;
    text-align: center;
    font-size: 58px;
    margin: 0px 0px 0px 0px;
}

div.heroSection p.heroSectionP {
    font-family: "Kantumruy Pro", "sans-serif";
    /* position: absolute; */
    color: #ffffff;
    /* top: 48%; */
    top: 10vw;
    right: 12%;
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    margin: 10px 0px 0px 0px;
}

div.sectionTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.sectionTwo h2.sectionTwoH2 {
    width: 100%;
    font-family: "Kameron", "serif";
    margin: 50px 0px 14px 0px;
    text-align: center;
    font-weight: 600;
}

div.sectionTwo div.servicesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    height: fit-content;
    width: 80%;
}

div.sectionTwo div.servicesContainer span {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 6px 6px 3px #C8C8C8;
    padding: 10px 10px 10px 10px;
    font-family: "Kameron", "serif";
    font-weight: 500;
    font-size: 26px;
    border: 1px solid #C8C8C8;
    text-align: center;
}

div.sectionTwo div.servicesContainer div.servicesSubContainer {
    display: flex;
    align-items: center;
}

div.sectionTwo div.servicesContainer div.servicesSubContainer span#servicesContainerItemOne {
    justify-self: flex-end;
    align-self: flex-end;
}

div.sectionTwo div.servicesContainer div.servicesSubContainer span#servicesContainerItemTwo {
    justify-self: flex-start;
    align-self: flex-end;
}

div.sectionTwo div.servicesContainer div.servicesSubContainer span#servicesContainerItemThree {
    justify-self: flex-end;
    align-self: flex-start;
}

div.sectionTwo div.servicesContainer div.servicesSubContainer span#servicesContainerItemFour {
    justify-self: flex-start;
    align-self: flex-start;
}

div.sectionThree {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.sectionThree h2.sectionThreeH2 {
    position: relative;
    text-align: center;
    font-family: "Kameron", "serif";
    font-weight: 500;
    width: fit-content;
}

div.sectionThree div.categoriesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 68%;
    /* max-width: 312px; */
}

div.sectionThree div.categoriesContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 136px;
    width: 100%;
    border: 1px solid #C8C8C8;
    border-radius: 10px;
    box-shadow: 6px 6px 3px #C8C8C8;
}

div.sectionThree div.categoriesContainer div.cardOne {
    margin: 0px 0px 20px 0px;
}

div.sectionThree div.categoriesContainer div p {
    font-family: "Kantumruy Pro", "sans-serif";
    font-weight: 500;
    font-size: 16.8px;
    text-align: center;
}

div.sectionThree div.categoriesContainer div a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    text-decoration: none;
    height: 40px;
    width: 158px;
    background-color: #000000;
    color: #ffffff;
    font-family: "Kantumruy Pro", "serif";
    font-weight: 600;
    margin: 0px 0px 14px 0px;
}

div.animatedDiv {
    height: 40px;
    width: 40px;
    border: 1px solid #000000;
    /* border-radius: 50%; */
}

div.animatedDiv{
    animation-name: slide;
    animation-duration: 5s;
    animation-direction: linear;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #000000;
    color: #ffffff;
    min-width: fit-content;
    width: 100%;
}

footer div.footerSectionOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

footer div.footerSectionOne h2 {
    position: relative;
    display: flex;
    justify-content: center;
    width: fit-content;
    font-family: "Kantumruy Pro", "sans-serif";
    margin: 0px 0px 0px 0px;
}

footer div.footerSectionOne p {
    font-family: "Kantumruy Pro", "sans-serif";
    font-size: 14px;
    color: #C4C4C4;
    margin: 0px 0px 0px 0px;
}

footer div.footerSectionTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

footer div.footerSectionTwo .iconsSpan {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 6px 0px 6px 6px;
}

footer div.footerSectionTwo span span {
    display: flex;
    align-items: center;
    font-family: "Kantumruy Pro", "sans-serif";
    font-weight: 500;
    /* border: none; */
}

footer div.footerSectionTwo a svg {
    margin: 0px 4% 0px 0px;
}

/* about.php styles */
body#aboutBody {
    background-color: #585858;
}
section.aboutCard {
    width: 100%;
    padding: 0px 20px 0px 50px;
}

section#aboutCardOne {
    margin: 20px 0px 0px 0px;
}

section#aboutCardThree {
    margin: 0px 0px 20px 0px;
}

section.aboutCard ul {
    padding: 0px 0px 0px 20px;
}

section.aboutCard h2 {
    font-family: "Kameron", serif !important;
}

section.aboutCard h2, section.aboutCard p, section.aboutCard ul li {
    color: #FFFFFF;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 20px;
    width: fit-content;
}

@media (min-width: 1400px) {
    div.heroSection nav ul.navUl li a {
        font-size: 20px;
    }

    p.heroSectionP {
        max-width: 80%;
    }

    div.sectionThree div.categoriesContainer {
        column-gap: 50px;
    }

    div.sectionThree div.categoriesContainer div {
        height: 180px;
        width: 320px;
    }

    div.sectionThree div.categoriesContainer div.cardOne {
        justify-self: flex-end;
    }

    div.sectionThree div.categoriesContainer div.cardTwo {
        justify-self: flex-start;
    }

    div.sectionThree h2.sectionThreeH2 {
        margin: 50px 0px 20px 0px;
    }

    div.sectionThree div.categoriesContainer div p {
        font-size: 18px;
    }

    div.sectionThree div.categoriesContainer div a {
        height: 44px;
        width: 160px;
    }
    
    footer {
        height: 190px;
    }

    footer div.footerSectionOne {
        margin: 0px 0px 0px 44px;
    }

    footer div.footerSectionOne h2 {
        font-size: 36px;
        margin: 0px 0px 24px 0px;
    }

    footer div.footerSectionTwo .iconsSpan {
        justify-content: center;
        height: 32px;
        width: 42%;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) { 
    div.heroSection nav ul.navUl li a {
        font-size: 18px;
    }

    div.heroSection h2.heroSectionh2 {
        font-size: 54px;
    }

    div.heroSection p.heroSectionP {
        font-size: 32px;
    }

    div.sectionThree h2.sectionThreeH2 {
        margin: 50px 0px 20px 0px;
    }

    div.sectionThree div.categoriesContainer {
        column-gap: 30px;
    }

    div.sectionThree div.categoriesContainer div {
        height: 154px;
        width: 312px;
    }

    div.sectionThree div.categoriesContainer div.cardOne {
        justify-self: flex-end;
        margin: 0px 0px 0px 0px;
    }

    div.sectionThree div.categoriesContainer div.cardTwo {
        justify-self: flex-start;
        margin: 0px 0px 0px 0px;
    }

    footer {
        height: 162px;
        margin: 50px 0px 0px 0px;
    }

    footer div.footerSectionOne {
        padding: 0px 0px 0px 36px;   
    }

    footer div.footerSectionOne h2 {
        font-size: 30px;
        margin: 0px 0px 20px 0px;
    }

    footer div.footerSectionTwo .iconsSpan {
        height: 26px;
        width: 44%;
        justify-content: center;
    }

    footer div.footerSectionTwo .iconsSpan svg {
        margin: 0px 10px 0px 2%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    div.heroSection nav a.getStartedLink {
        height: 42px;
        width: 144px;
        font-size: 14px;
    }

    div.heroSection h2.heroSectionh2 {
        font-size: 4vw;
        top: 22vw;
    }

    div.heroSection p.heroSectionP {
        font-size: 2.4vw;
        /* top: 32vw; */
    }

    div.sectionThree div.categoriesContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 80%;
        row-gap: 20px;
    }

    div.sectionThree div.categoriesContainer div p {
        margin: 16px 0px 10px 0px;
        font-size: 20px;
    }

    div.sectionThree div.categoriesContainer div a {
        margin: 0px 0px 0px 0px;
    }

    footer {
        height: 158px;
        margin: 50px 0px 0px 0px;
    }
    
    footer div.footerSectionOne {
        padding: 0px 0px 0px 36px;
    }

    footer div.footerSectionOne h2 {
        font-size: 30px;
        margin: 0px 0px 20px 0px;
    }

    footer div.footerSectionTwo .iconsSpan {
        justify-content: center;
        height: 26px;
        width: 56%;
    }
}

@media (max-width: 992px) {
    div.heroSection img {
        object-fit: cover;
    }

    div.heroSection nav ul.navUl {
        display: none;
    }

    div.heroSection nav ul.navUlShow {
        position: absolute;
        display: flex;
        top: 88px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        backdrop-filter: blur(56px);
        z-index: 1;
    }
    
    div.heroSection nav ul.navUlShow hr {
        display: block;
        width: 98%;
        margin: 12px 3vw 12px 3vw;
    }

    div.heroSection nav ul.navUlShow hr.hrFirst {
        margin: 0px 3vw 12px 3vw;
    }

    div.heroSection nav ul.navUlShow li {
        justify-content: center;
    }

    div.heroSection nav ul.navUl hr.hrSecondToLast {
        display: block;
    }

    div.heroSection nav ul.navUlShow li.getStartedLinkListItem {
        display: flex;
    }

    div.heroSection nav ul.navUlShow hr.hrLast {
        margin: 12px 3vw 0px 3vw;
    }

    div.heroSection nav a.getStartedLink {
        display: none;
    }

    div.heroSection button.hamburgerMenu {
        display: flex;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    div.heroSection nav ul.navUl li a {
        font-size: 18px;
    }

    div.heroSection h2.heroSectionh2 {
        font-size: 4vw;
        top: 22vw;
    }

    div.heroSection p.heroSectionP {
        font-size: 2.4vw;
        /* top: 32vw; */
    }

    div.sectionThree div.categoriesContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 20px;
        width: 80%;
    }

    div.sectionThree div.categoriesContainer div.cardOne {
        margin: 0px 0px 0px 0px;
    }

    footer {
        height: 170px;
        margin: 50px 0px 0px 0px;
    }

    footer div.footerSectionOne {
        padding: 0px 0px 0px 22px;
    }

    footer div.footerSectionOne h2 {
        margin: 0px 0px 20px 0px;
        font-size: 30px;
    }

    footer div.footerSectionTwo .iconsSpan {
        height: 26px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    div.heroSection h2.heroSectionh2 {
        font-size: 4vw;
        top: 22vw;
    }

    div.heroSection p.heroSectionP {
        font-size: 2.8vw;
        /* top: 48%; */
        right: 6%;
    }

    div.sectionThree div.categoriesContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 20px;
        max-width: 54%;
    }

    div.sectionThree div.categoriesContainer div.cardOne {
        height: 126px;
        width: 100%;
        margin: 0px 10px 0px 0px;
        justify-self: center;
        align-self: center;
        margin: 0px 0px 0px 0px;
    }

    div.sectionThree div.categoriesContainer div.cardTwo {
        height: 126px;
        width: 100%;
        margin: 0px 0px 0px 10px;
        justify-self: center;
        align-self: center;
        margin: 0px 0px 0px 0px;
    }

    footer {
        height: 170px;
        display: grid;
        grid-template-columns: 1.2fr 0.5fr 1fr;
        grid-template-rows: 1fr;
        margin: 50px 0px 0px 0px;
    }

    footer div.footerSectionOne {
        padding: 0px 0px 0px 30px;
    }

    footer div.footerSectionOne h2 {
        margin: 0px 0px 20px 0px;
        font-size: 30px;
    }

    footer div.footerSectionOne {
        padding: 0px 0px 0px 18px;
    }

    footer div.footerSectionTwo .iconsSpan {
        height: 26px;
    }

    footer div.footerSectionTwo span svg {
        margin: 0px 4% 0px 0px;
    }

    footer div.footerSectionTwo .iconsSpan span {
        font-weight: 500;
    }
}

@media (max-width: 576px) {
    /* index.php styles */
    div.heroSection img {
        height: 80vh;
    }

    div.heroSection h2.heroSectionh2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 34%;
        font-size: 1.6em;
        padding: 0px 20px 0px 20px;
    }

    div.heroSection p.heroSectionP {
        /* display: none; */
        top: 12vw;
        right: 4%;
        font-size: 24px;
    }

    div.sectionTwo div.servicesContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    div.sectionTwo h2.sectionTwoH2 {
        margin: 50px 0px 24px 0px;
    }

    div.sectionTwo h2.sectionTwoH2 br {
        display: inline;
    }

    div.sectionThree h2.sectionThreeH2 {
        margin: 38px 0px 20px 0px;
    }

    div.sectionThree div.categoriesContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    div.sectionThree div.categoriesContainer div {
        max-width: 330px;
        justify-self: center;
        align-self: center;
    }

    div.sectionThree div.categoriesContainer div p {
        margin: 14px 0px 16.8px 0px;
    }

    div.sectionThree div.categoriesContainer div a {
        margin: 0px 0px 0px 0px;
    }

    footer {
        display: grid;
        grid-template-columns: 1.8fr 0.5fr 2fr;
        grid-template-rows: 1fr;
        height: 170px;
        background-color: #000000;
        margin: 50px 0px 0px 0px;
    }

    footer div.footerSectionOne {
        padding: 0px 0px 0px 4px;
    }

    footer div.footerSectionOne h2 {
        font-size: 16px;
        margin: 0px 0px 20px 0px;
    }

    footer div.footerSectionOne p {
        margin: 0px 0px 0px 0px;
        font-size: 16px;
    }

    footer div.footerSectionTwo {
        flex-direction: row;
    }

    footer div.footerSectionTwo .iconsSpan {
        width: fit-content;
        padding: 10px 10px 10px 10px;
    }

    footer div.footerSectionTwo .iconsSpan svg {
        margin: 0px 0px 0px 0px;
    }

    footer div.footerSectionTwo .iconsSpan span {
        display: none;
    }

    /* about.php styles */
    body#aboutBody h2.heroSectionh2 {
        top: 22%;
    }
}